body {
  background-image: url(assets/img/pixabay.jpg);
  font-family: Helvetica;
  padding: 20px 0 28px 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.app-title {
  text-align: center;
  font-weight: normal;
  font-size: 3.6rem;
  color: aliceblue;
}

.student {
  max-width: 650px;
  padding: 20px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.student h4 {
  margin: 0 0 6px 0;
}

.student-photo {
  float: left;
  width: 100%;
  margin-right: 15px;
}

.student-name {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 0 1rem 0;
}

.profession {
  font-size: 0.9rem;
  color: #888;
  vertical-align: middle;
}

.langs-list {
  margin: 0;
  padding: 0;
  position: relative;
  left: 17px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.footer {
  font-size: 0.9rem;
  color: rgb(252, 237, 237);
  text-align: center;
  margin: 0;
}
